@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Spartan", sans-serif;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 85px 0 20px;
    background-color:#fbd9e7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    margin: -11px;
    width: auto;
    height: 70px;
    margin-right: -27px;
    margin-bottom: 0;
    }
    #navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
      margin-left: -20px;
    }
    #navbar li{
    list-style: none;
    padding: 0 26px;
    position: relative;
    }
    #icn a{
        margin-right: 15px;
    }
    #header .logo{
        margin-right: -20px;
        width: 80px;
        height: auto;
    }
    #navbar li a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.3 ease;
    }
    #navbar li a:hover,
    #navbar li a.active {
        color: #ffffff;
    }
    #navbar li a:hover::after,
    #navbar li a.active::after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        bottom: -6px;
        left: 20px;
    }
#cart{
  
    
    overflow-x: auto;}
#cart table{
    width: 100%;
     border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;    
     }
    
        #cart table img{
        width: 70px;    
        
    }
        #cart table td :nth-child(1){ 
        width: 100px;
        text-align: center;
    
    }
    
        #cart table td :nth-child(2){
        width: 150px;
        text-align: center;
 
    }
    
        #cart table td :nth-child(3){
        width: 250px;
        text-align: center;
      
    }
    
        #cart table td:nth-child(4),
        #cart table td:nth-child(5),
        #cart table td:nth-child(6){
        width: 200px;
        text-align: center;
          }
    #cart table td :nth-child(5) input  {
        width: 70px;
        padding: 10px 5px 10px 15px;
        
     }
    
     #cart table thead{
        border: 1px solid #e9e9e9;
        border-left: none;
        border-right: none;
     
     }

     #cart table  thead td { 
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        padding: 18px 0;
        text-align: center;
     }
     #cart table  tbody tr td{
        padding-top: 15px;
  
    
     }
     #cart table  tbody  td{ 
        font-size: 13px;
       
     }
  
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
 #coupon{
width: 50%;
margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
    
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button ,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
} 

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid   #e2e9e1;
    padding: 30px;
  
}
#subtotal table{
    border-collapse:collapse ;
    width: 100%;
    margin-bottom: 2px;
    margin-left: 2px;
  
}
#subtotal table td{ 
    border:1px solid #e2e9e1;
    width: 50px;
    padding: 10px;
    font-size: 13px;
}

@media (max-width: 477px){
    .section-p1 {
        padding: 20px;
                }   
            }
            #newsletter .form {
                display: flex;
                width: 40%;
            }
            #newsletter {
                display: flex;
                justify-content: space-between;
                text-align: center;
                flex-wrap: wrap;
                align-items: center;
                background-image: url(Images/b14.png);
                background-repeat: no-repeat;
                background-position: 20% 35%;
                background-color: #82A284;
                margin: 10px 0 -40px -10px;
                padding: 30px;
                width: 97%;
            }
            
            #newsletter h4 {
                font-size: 20px;
                color: #fff;
                font-weight: 600;
            }
            
            #newsletter p {
                font-size: 14px;
                color: #f6f6f6;
                font-weight: 600;
                margin: -25px 0 45px 100px;
                text-decoration: none;
            }
            
            #newsletter p span {
                color: #ffbd27;
            }
            
            #newsletter input {
                height: 3.125rem;
                padding: 0 1.25em;
                font-size: 14px;
                width: 100%;
                border: 1px solid transparent;
                border-radius: 4px;
                outline: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            
            #newsletter button {
            
                color: #fff;
                white-space: nowrap;
                background-color: #fbd9e7;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            /************************************************************************************************************************************************************************************/
            footer {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 96.4%;
                padding: 30px 35px;
                background-color: #fbd9e7;
                margin-left: -10px;
            }
            
            
            footer .col {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 20px;
                text-decoration: none;
                font-weight: 450;
            }
            
            footer h4 {
                font-size: 14px;
                padding-bottom: 17px;
                color: #020202;
                text-decoration: none;
            }
            
            footer p {
                font-size: 11px;
                margin: 0 0 0 8 0;
                color: #080808;
            
            }
            
            footer a{
                font-size: 11px;
                font-weight: 600;
                text-decoration: none;
                color: #020202;
                margin-bottom: 10px;
            }
            
            footer.follow {
                margin-top: 20px;
            }
            
            footer .follow i {
                color: #465b52;
                padding-right: 4px;
                cursor: pointer;
            }
            
            footer .install .row img {
                border: 1px solid #84b6cc;
                border-radius: 6px;
            }
            
            footer .install img {
                margin: 10px 0 15px 0;
            }
            
            footer .follow i:hover,
            footer a:hover {
                color:#f7f7f7;
            }
            
            footer .copyright {
                width: 100%;
                text-align: center;
            }